<!-- footer.ejs -->
<footer>
    <div class="footer-logo">
        <img src="/images/logo-footer1.webp" alt="Logo">
    </div>
    <div class="nav-footer">
        <div class="contactez-nous">
            <h3>Contactez-nous</h3>
            <a href="mailto:buildr.esport@gmail.com">buildr.esport@gmail.com</a>
        </div>
        <ul>
            <li><a href="https://www.twitch.tv/polyvalence" target="_blank"><img src="/images/twitch.png"></a></li>
            <li><a href="https://www.tiktok.com/@academyrivals" target="_blank"><img src="/images/tiktok.png"></a></li>
            <li><a href="https://twitter.com/academyrivals_" target="_blank"><img src="/images/twitter.png"></a></li>
            <li><a href="https://www.instagram.com/academy_rivals_/?hl=fr" target="_blank"><img src="/images/instagram.png"></a></li>
        </ul>
    </div>
    <div class="footer-logo">
        <img src="/images/logo-footer2.webp" alt="Logo">
    </div>
</footer>
