<!-- header.ejs -->
<header>
    <div class="logo">
        <a href="/home"><img src="/images/image.jpg" alt="Logo"></a>
    </div>
    <nav>
        <ul>
            <li><a href="/home">Accueil</a></li>
            <li><a href="/vods">Vods</a></li>
            <li><a href="/planning-bracket">Planning / Bracket</a></li>
            <li><a href="/partenaires">Partenaires</a></li>
        </ul>
    </nav>
    <div class="inscription">
        <button>Inscription</button>
    </div>
</header>
