<!-- header.ejs -->
<header>
    <div class="logo">
        <a href="/"><img src="/images/logo.webp" alt="Logo"></a>
    </div>
    <nav id="navbar">
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/live">Live</a></li>
            <li class="staff"><a href="/staff">Staff</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <button id="burger-menu" class="burger-menu">☰</button>
        <ul id="burger-nav" class="burger-nav">
            <li><a href="/">Accueil</a></li>
            <li><a href="/live">Live</a></li>
            <li class="staff"><a href="/staff">Staff</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="logo-vide">
    </div>
</header>
