<!-- header.ejs -->
<header>
    <div class="logo">
        <a href="/"><img src="/images/logo.webp" alt="Logo"></a>
    </div>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li class="staff"><a href="/staff">Staff</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
