<!-- home.ejs (ou toute autre page ejs) -->
<%- include('partials/head') %> <!-- Inclure le header -->

<body>
    <%- include('partials/header') %> <!-- Inclure le header -->
    
    <h1>Contact</h1>

    <div class="title-contact">
        <h2 class="contact">Nous contacter</h2>
    </div>

    <div class="content-contact">
        <div class="img-contact">
            <img src="/images/contact.webp">
        </div>
        <div class="form-contact">
            <p>Nous sommes ravis de répondre à toutes vos questions sur notre association. N'hésitez pas à nous contacter en utilisant le formulaire ci-dessous. Nous vous répondrons dans les meilleurs délais.</p>
            <form action="/send-email" method="POST">
                <label for="firstName">Prénom *</label>
                <input type="text" id="firstName" name="firstName" required>
        
                <label for="lastName">Nom de famille *</label>
                <input type="text" id="lastName" name="lastName" required>
        
                <label for="email">E-mail *</label>
                <input type="email" id="email" name="email" required>
        
                <label for="subject">Objet</label>
                <input type="text" id="subject" name="subject">
        
                <label for="message">Rédigez votre message ici...</label>
                <textarea id="message" name="message"></textarea>
        
                <input type="submit" value="Envoyer">
            </form>
        </div>
    </div>

    <%- include('partials/footer') %> <!-- Inclure le footer -->
</body>
</html>
