<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../assets/style/footer.css">
	<title>Mon footer</title>
</head>
<body>

	<footer>
		<p>Réseaux sociaux :</p>
		<a href="https://www.instagram.com/academy_rivals_/"><img src="../assets/img/insta_logo.png" width="5%" id="insta"></a>
		<a href=""><img src="../assets/img/discord_logo.png" width="5%" id="discord"></a>
		<a href="https://www.tiktok.com/@academyrivals"><img src="../assets/img/Tiktok.png" width="5%" id="tiktok"></a>
		<a href="https://www.twitch.tv/academyrivals"><img src="../assets/img/Twitch.webp" width="5%" id="twitch"></a>
		<a href="https://twitter.com/academyrivals_"><img src="../assets/img/Twitter_logo.png" width="5%" id="twitter"></a>
		
	</footer>

	

</body>
</html>