<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../assets/style/header.css" type="text/css">
    </head>
    <body>
        <header>
            <img src="../assets/img/logo.png">
            <ul class="liste">
                <a href="accueil.html" class="lien" id="Accueil">ACCUEIL</a>
                <a href="vods.html" class="lien" id="VODS">VODS</a>
                <a href="planning_bracket.html" class="lien" id="Plannig_Bracket">PLANNING : BRACKET</a>
                <a href="partennaire.html" class="lien" id="Partenaires">PARTENAIRES</a>
            </ul>
            <button><a><p class="inscription">INSCRIPTION</p></a></button>
        </header>
        
        <script src="" async defer></script>
    </body>
</html>