<!-- home.ejs (ou toute autre page ejs) -->
<%- include('partials/head') %> <!-- Inclure le header -->

<body>
    <%- include('partials/header') %> <!-- Inclure le header -->
    
    <h1>Academy Rivals</h1>
    <div class="video">
        <video autoplay="true" loop="true" muted>
            <source src="/video/academy_rivals.mov" type="video/mp4">
            Votre navigateur ne supporte pas les vidéos HTML5.
        </video>
    </div>

    <div class="content">
        <div class="content-gauche">
            <h2>Academy Rivals, c'est quoi ?</h2>
            <div class="presentation">
                <p>Explorez l'univers de l’E-Sport avec AcademyRivals, une communauté qui anime les passions à travers des compétitions intenses sur League of Legends ! Notre but ? Créer un environnement où la compétition va de paire avec la convivialité, où chaque interaction lors d’une partie est une occasion de progression et d'accomplissement. Rejoignez nous pour vivre des expériences mémorables, relever des défis et savourer la satisfaction de la victoire. </p>
            </div>
        </div>
        <div class="content-droite">
            <img src="/images/logo2.webp" alt="Logo">
        </div>
    </div>

    <div class="competition">
        <h2>Notre compétition</h2>
        <p>On vous attend  pour notre compétition sur league of legend  le 4 mai 2024</p>
        <div class="compteur">

        </div>
    </div>

    <div class="inscription">
        <div class="bouton-inscription">
            <a href="https://play.toornament.com/fr/tournaments/7684596975527804928/" target="_blank">Pour vous inscrire c'est par ici !</a>
        </div>
    </div>

    <div class="boutons">
        <div class="bouton-1">
            <a href="#">Twitch</a>
        </div>
        <div class="bouton-2">
            <a href="#">Staff</a>
        </div>
        <div class="bouton-3">
            <a href="#">Contact</a>
        </div>
    </div>

    
    <%- include('partials/footer') %> <!-- Inclure le footer -->
    <script src="/scripts/decompte.js"></script>
</body>
</html>
