<!-- partenaire.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titre de la page</title>
    <link rel="stylesheet" href="/styles/styles.css"> <!-- Lien vers votre fichier CSS -->
</head>
<body>
    <%- include('partials/header') %> <!-- Inclure le header -->
    
    <h1>Contenu de la page Partenaires</h1>
    
    <%- include('partials/footer') %> <!-- Inclure le footer -->
</body>
</html>
