
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <h1>STAFF</h1>
    <div class="icon_staff_1">
        <div class="img">
            <img src="images/Remi.webp" class="profil">
        </div>
        <div class="text">
            <p class="name">Rémi</p>
            <p class="pro">Directeur d'association</p>
        </div>
    </div>

    <div class="icon_staff_2">
        <div class="text">
            <p class="name">Sharon</p>
            <p class="pro">Vice Présidente</p>
        </div>
        <div class="img">
            <img src="images/Sharon.webp" class="profil">
        </div>
    </div>

    <div class="icon_staff_1">
        <div class="img">
            <img src="images/Tristan.webp" class="profil">
        </div>
        <div class="text">
            <p class="name">Tristan</p>
            <p class="pro">Casteur</p>
        </div>
    </div>
    <div class="icon_staff_2">
        <div class="text">
            <p class="name">Amandine</p>
            <p class="pro">Community manager</p>
        </div>
        <div class="img">
            <img src="images/Amandine.webp" class="profil">
        </div>
    </div>
    <div class="icon_staff_1">
        <div class="img">
            <img src="images/Ines.webp" class="profil">
        </div>
        <div class="text">
            <p class="name">Inès</p>
            <p class="pro">Community manager</p>
        </div>
    </div>
    <div class="icon_staff_2">
        <div class="text">
            <p class="name">Talia</p>
            <p class="pro">Chargé marketing</p>
        </div>
        <div class="img">
            <img src="images/Talia.webp" class="profil">
        </div>
    </div>
    <div class="icon_staff_1">
        <div class="img">
            <img src="images/Jeanne.webp" class="profil">
        </div>
        <div class="text">
            <p class="name">Jeanne</p>
            <p class="pro">Chargé marketing</p>
        </div>
    </div>
    <div class="icon_staff_2">
        <div class="text">
            <p class="name">Luca</p>
            <p class="pro">Marketing</p>
        </div>
        <div class="img">
            <img src="" class="">
        </div>
    </div>
    <div class="icon_staff_1">
        <div class="img">
            <img src="images/Dylan.webp" class="profil">
        </div>
        <div class="text">
            <p class="name">Dylan</p>
            <p class="pro">IT</p>
        </div>
    </div>
    
    <%- include('partials/footer') %>
    <script src="" async defer></script>
</body>
