
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    
    <h1>Staff</h1>
    <div class="direction">
        <h2>Les hauts gradés</h2>
        <ul class="membres">
            <li>
                <img src="/images/Remi.webp" alt="Staff1">
                <div class="card-content">
                    <h3>Remi</h3>
                    <p>Directeur d'association</p>
                </div>
            </li>
            <li>
                <img src="/images/sharon.webp" alt="Staff2">
                <div class="card-content">
                    <h3>Sharon</h3>
                    <p>Vice présidente</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="equipe">
        <h2> La fine équipe</h2>
        <ul class="membres">
            <li>
                <img src="/images/Remi.webp" alt="Staff3">
                <div class="card-content">
                    <h3>Tristan</h3>
                    <p>Casteur</p>
                </div>
            </li>
            <li>
                <img src="/images/Amandine.webp" alt="Staff4">
                <div class="card-content">
                    <h3>Amandine</h3>
                    <p>Community manager</p>
                </div>
            </li>
            <li>
                <img src="/images/Ines.webp" alt="Staff5">
                <div class="card-content">
                    <h3>Ines</h3>
                    <p>Community manager</p>
                </div>
            </li>
            <li>
                <img src="/images/Talia.webp" alt="Staff6">
                <div class="card-content">
                    <h3>Talia</h3>
                    <p>Chargé marketing</p>
                </div>
            </li>
            <li>
                <img src="/images/Jeanne.webp" alt="Staff7">
                <div class="card-content">
                    <h3>Jeanne</h3>
                    <p>Chargé marketing</p>
                </div>
            </li>
            <li>
                <img src="/images/Remi.webp" alt="Staff8">
                <div class="card-content">
                    <h3>Luca</h3>
                    <p>Marketing</p>
                </div>
            </li>
            <li>
                <img src="/images/Remi.webp" alt="Staff9">
                <div class="card-content">
                    <h3>Dylan</h3>
                    <p>IT</p>
                </div>
            </li>
        </ul>
    </div>
    
    <%- include('partials/footer') %>
</body>
